RGB_images
poses_txt
poses.csv
RGB_1_images
poses_1_txt
poses_1.csv
RGB_5_images
poses_5_txt
poses_5.csv
RGB_6_images
poses_6_txt
poses_6.csv
checkpoint
DATASET*
CAD_model
AnyConv.com__LDA.stl
.tmp*
wandb
__pycache__